.bannerBody {
  margin-top: 115px;
  overflow: hidden;
}
.slideShow {
  left: 50%;
}
.slides {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 1190px;
  padding-left: 0;
  display: flex;
  gap: 20px;
}
.slides > li {
  list-style: none;
  transform: translateX(-2420px);
}
.slides > li > a > img {
  width: 1180px;
  height: 480px;
  position: absolute;
}
.controls {
  font-size: 100px;
  border: 1px solid white;
}
.prev {
  position: absolute;
  left: 9%;
  top: 320px;
  color: gray;
  opacity: 0.6;
}
.next {
  position: absolute;
  right: 9%;
  top: 320px;
  transform: rotate(180deg);
  color: gray;
  opacity: 0.6;
}
.prev:hover {
  color: white;
  opacity: 0.7;
}
.next:hover {
  color: white;
  opacity: 0.7;
}
.main_nav {
  position: absolute;
  top: 640px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.playingBtn {
  color: white;
  font-size: 25px;
  padding-right: 3px;
  width: 30px;
}
.swiper_Pagination_bullet {
  padding: 0 5px;
  font-size: 12px;
}

/* Reactive */

@media (max-width: 1200px) {
  .bannerBody {
    width: 950px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    height: 455px;
    top: -50px;
  }
  .prev {
    top: 210px;
  }
  .next {
    top: 210px;
  }
}

@media (max-width: 970px) {
  .bannerBody {
    width: 710px;
    margin-top: 60px;
  }
  .controls {
    font-size: 70px;
  }
}
@media (max-width: 730px) {
  .bannerBody {
    width: 470px;
    margin-top: 0px;
  }
  .controls {
    font-size: 40px;
  }
  .prev {
    top: 240px;
  }
  .next {
    top: 240px;
  }
}
@media (max-width: 510px) {
  .bannerBody {
    display: none;
  }
}
