@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Noto+Sans+KR:wght@300&display=swap");

.header {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #1b1b1b;
}
.header-links {
  padding-left: 0;
  color: gray;
  list-style: none;
  display: flex;
  justify-content: end;
  font-size: 12px;
  font-weight: bolder;
  margin-right: 10em;
}
.header-links > li {
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Noto Sans KR";
}
.hr {
  border: 1px solid gray;
}
.headerLogo {
  color: white;
  font-size: 40px;
  font-family: "Josefin Sans";
  text-decoration: none;
}
.secondHeader {
  max-width: 90%;
  height: 4em;
  margin-left: 10%;
  display: flex;
  align-items: center;
}
#menu {
  display: flex;
  list-style: none;
  color: gray;
  font-size: 20px;
  padding-left: 0;
  margin-left: 5em;
  font-family: "Noto Sans KR";
}
#menu > li {
  padding-left: 18px;
  padding-right: 18px;
}
.searchBar {
  display: flex;
  align-items: center;
  position: absolute;
  right: 125px;
  cursor: pointer;
}
.search {
  font-size: 20px;
  color: gray;
  font-family: "Noto Sans KR";
}
