@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Noto+Sans+KR:wght@300;400&display=swap");

.header {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #1b1b1b;
}
.header-links {
  padding-left: 0;
  color: gray;
  list-style: none;
  display: flex;
  justify-content: end;
  font-size: 12px;
  font-weight: bolder;
  max-width: 1190px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 10px;
}
.header-links > li {
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Noto Sans KR";
}
.header-links > li:hover {
  cursor: pointer;
}
.hr {
  height: 1px;
  border: none;
  background-color: gray;
}
.headerLogo {
  color: white;
  font-size: 40px;
  font-family: "Josefin Sans";
  text-decoration: none;
}
.secondHeader {
  max-width: 1190px;
  height: 4em;
  display: flex;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
#menu {
  display: flex;
  list-style: none;
  color: gray;
  font-size: 20px;
  padding-left: 0;
  margin-left: 5em;
  font-family: "Noto Sans KR";
  font-weight: 400;
}
#menu > li {
  padding-left: 18px;
  padding-right: 18px;
}
#menu > li:hover {
  color: white;
  cursor: pointer;
}
.searchBar {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0px;
  cursor: pointer;
}
.search {
  font-size: 20px;
  color: gray;
  font-family: "Noto Sans KR";
}
.menuClicked {
  color: white;
}
#category_detail {
  width: 200px;
  height: 390px;
  background-color: #1b1b1b;
  position: absolute;
  left: 290px;
  top: 46px;
}
.category_ul {
  list-style: none;
  padding-left: 20px;
  margin-top: 15px;
  color: gray;
  font-family: "Noto Sans KR";
  font-size: 15px;
}
.category_ul > hr {
  height: 1px;
  border: none;
  background-color: gray;
  margin-right: 20px;
}
.category_ul > li {
  padding-top: 7px;
  padding-bottom: 7px;
}
.category_ul > li:nth-child(3) {
  color: white;
}
.category_ul > li:nth-child(n):hover {
  color: white;
  cursor: pointer;
}
.hidden {
  display: none;
}
