#movieContainer {
  width: 1190px;
  height: 500px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  margin-top: 42px;
}
.moviesTop {
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-between;
  display: flex;
  margin-bottom: 20px;
  margin-top: 40px;
}
.topic {
  color: white;
  font-size: 23px;
}
.more {
  color: gray;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: end;
  text-decoration: none;
}
.movies {
  display: flex;
  gap: 10px;
  width: 1190px;
  position: relative;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 10px;
  padding-left: 0;
  transition: all 0.1s linear;
}
.movie {
  color: white;
  height: 380px;
  width: 230px;
  flex-direction: column;
  cursor: pointer;
  z-index: 99;
}
.movieTitle {
  color: gray;
  text-decoration: none;
}
.imgBox {
  width: 230px;
  overflow: hidden;
}
.movieImg {
  transition: all 0.2s linear;
}
.movieImg:hover {
  transform: scale(1.05);
}
.leftArrow {
  position: absolute;
  background-color: white;
  width: 40px;
  height: 70px;
  opacity: 0.2;
  top: 47%;
  z-index: 100;
  transform: rotate(180deg);
  left: -40px;
  transition: all 0.2s linear;
  cursor: pointer;
}
.rightArrow {
  position: absolute;
  background-color: white;
  width: 40px;
  height: 70px;
  opacity: 0.2;
  top: 47%;
  right: -40px;
  z-index: 100;
  transition: all 0.2s linear;
  cursor: pointer;
}

/* reactive */

@media (max-width: 1200px) {
  #movieContainer {
    width: 950px;
    margin-top: 0px;
  }
  .movies {
    left: 0;
    transform: translateX(0);
    transition: none;
  }
}

@media (max-width: 970px) {
  #movieContainer {
    width: 710px;
    top: -50px;
  }
}
@media (max-width: 730px) {
  #movieContainer {
    width: 470px;
    top: -100px;
  }
}
@media (max-width: 510px) {
  #movieContainer {
    width: 230px;
    height: 520px;
    top: 120px;
  }
  .moviesTop {
    flex-direction: column;
  }
  .leftArrow {
    top: 55%;
  }
  .rightArrow {
    top: 55%;
  }
}
